{% extends 'AcmeGeekBundle::layout.html.twig' %}

{% block body %}
    <div class="container">

        <div class="masthead">
            <h3 class="text-muted">Домашня робота</h3>
        </div>

        {% include 'AcmeGeekBundle::Hello/template/jumbotron.html.twig' %}
        <!-- Example row of columns -->
        <div class="row">

            {% if arr is not empty %}
                {% for i in arr %}
                    <div class="col-lg-5">
                        <h2>{{ i.name }}</h2>
                        <p>Столиця = {{ i.capital }}</p>
                        <p>Президент = {{ i.president }} </p>
                        <p>Континент = {{ i.continent.continent }}</p>
                        <p>Населення = {{ i.population }}</p>
                        <p>Площа = {{ i.square }}</p>
                        <p>{{ "%.500s"|format(i.description) }}</p>
                        <p><a class="btn btn-primary" href="{{ path('simple_template' , {'page': loop.index}) }}">View
                                details &raquo;</a></p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}